.Header,
.BookInfo {
    --bar-height: 44px;
    --header-background-color: #000;
    --header-border-color: var(--border-color-default);

    height: var(--bar-height);
    padding: 0 0.5rem;
    background-color: var(--header-background-color);
    backface-visibility: hidden;

    border-bottom: 1px solid var(--header-border-color);
}

.BookInfo {
    line-height: 44px;
    margin-bottom: 1rem;
}

.BookInfo :global(.Button) {
    bottom: -0.4rem;
    margin-left: 0.5rem;
}

.Header__Section {
    background-color: var(--header-background-color);
    padding: 0 0.5rem;

    position: relative;
    z-index: var(--zindex-header-section);
    height: calc(var(--bar-height) - 1px);
}

.Header__title {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 -10px;
    font-size: 17px;
    font-weight: 500;
    line-height: var(--bar-height);
    left: 0;
    color: var(--text-color);
    text-align: center;
    white-space: nowrap;
}

.Header :global(.Button) {
    margin-top: 0;
    font-weight: 400;
}

.Header :global(.Button) {
    display: inline-block;
}

.Header :global(.Button) svg {
    display: inline-block;
    vertical-align: middle;

    transform: translateY(-2px);
    font-size: 1.5em;
}

.Header :global(.Button--link) {
    padding: 0;
    font-size: 16px;
    line-height: 44px;
    color: var(--primary-color);
    border: 0;
}

.Dropdown__content {
    display: none;
    position: absolute;
    top: calc(var(--bar-height) - 1px);
    right: -0.5em;
    background: var(--header-background-color);

    border: 1px solid var(--header-border-color);
    border-top-width: 0;
}

.Dropdown__trigger:hover .Dropdown__content {
    display: block;
}

.Dropdown__content .Link,
.Dropdown__content a {
    display: block;
    padding: 0.5em 1em;
    line-height: 1;
    margin: 0;
    border-top: 1px solid #555;
    border-radius: 0;
}

.pullLeft {
    float: left;
}

.pullRight {
    float: right;
}
