.Search {
    position: relative;

    display: inline-block;

    height: 43px; /* calc(var(--bar-height) - 1px); */
    min-width: 30px;
}

.Search :global(.Button) {
    position: absolute;
    right: 0;
    top: 0;
    z-index: var(--zindex-header-search-icon);
}

.SearchResult {
    position: absolute;
    inset: 44px 0 0 0; /* --bar-height */

    overflow-y: auto;

    width: 70%;
    min-width: 500px;
    margin: 0 auto;

    background: var(--background-color);
    border-left: var(--border-color-default) 1px solid;
    border-right: var(--border-color-default) 1px solid;

    box-shadow: black 0 4px 10px;
}

.SearchResult__item {
    display: block;

    border-bottom: 1px solid #aaa;

    padding: 0.4em;
}
