body {
	margin:0;
	padding:0;
}

ul.gallery {
    list-style-type: none;
    margin:0;
    padding:0;
}

ul.gallery li {
    border:#1d1d1d 1px solid;
    float:left;
    display:block;
    position:relative;
    
    margin:6px;
    
    width:80px;
    height:80px;
}

ul.gallery .pn {
    position:absolute;
    bottom:0;
    right:0;
    color:white;
    font-weight:bold;
	
	padding:0 4px;
	line-height:1.4em;
	
	display:block;
	
	border-top:#1d1d1d 1px solid;
	border-left:#1d1d1d 1px solid;
	background:#2a2a2a;
	
	-webkit-border-top-left-radius: 8px;
	-moz-border-radius-topleft: 8px;
	border-top-left-radius: 8px;
}