
.BookInfo {
    padding: .5rem 1rem;
    margin-bottom: .5rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    /* IOS */
    background-color: hsla(0,0%,97%,.98);
    border-bottom: 1px solid rgba(0,0,0,.25);
}