:root {
    --button-color: var(--primary-color);
    --button-border-color: var(--primary-color);

    --button-font-size: var(--font-size-medium);
    --button-big-font-size: var(--font-size-big);
}

.Button {
    position: relative;
    display: inline-block;
    padding: .4em .6em;
    margin-bottom: 0;
    font-size: var(--button-font-size);
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    border-radius: 3px;

    /* IOS */
    color: var(--button-color);
    background-color: #000;
    border: 1px solid var(--button-border-color);
    transition: all;
    transition-duration: .2s;
    transition-timing-function: linear;

    // Active & filled button styles
    &:active,
    &.active {
        color: #fff;
        background-color: #555;
    }

    &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
    }
}

.Button--link {
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0 .4em;

    /* IOS */
    color: var(--primary-color);
    background-color: transparent;
    border: none;

    &:hover {
        text-decoration: underline;
    }
}

.Button--back {
    margin-left: -.4em;
}

.Button--big {
    font-size: var(--button-big-font-size);
}