
.Button {
    position: relative;
    display: inline-block;
    padding: 6px 8px 7px;
    margin-bottom: 0;
    font-size: $button-font-size;
    font-weight: 400;
    line-height: 1;
    color: #333;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;

    /* IOS */
    color: $default-color;
    background-color: $chrome-color;
    border: 1px solid $default-color;
    transition: all;
    transition-duration: .2s;
    transition-timing-function: linear;

    // Active & filled button styles
    &:active,
    &.active {
        color: #fff;
        background-color: $default-color;
    }
}

.Button--link {
    padding-top: 6px;
    padding-bottom: 6px;
    color: #428bca;
    background-color: transparent;
    border: 0;

    /* IOS */
    color: #007aff;
    background-color: transparent;
    border: none;
}

.Header .Button {
    position: relative;
    top: 7px;
    z-index: 5;
    padding: 6px 12px 7px;
    margin-top: 0;
    font-weight: 400;

    &.pull-left {
        margin-left: -5px;
        margin-right: 10px;
    }

    &.pull-right {
        margin-right: -5px;
        margin-left: 10px;
    }
}

.Header .Button--link {
    top: 0;
    padding: 0;
    font-size: 16px;
    line-height: 44px;
    color: #007aff;
    border: 0;
}


