
.Button {
    position: relative;
    display: inline-block;
    padding: 6px 8px 7px;
    margin-bottom: 0;
    font-size: $button-font-size;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    border-radius: 3px;

    /* IOS */
    color: $primary-color;
    background-color: #000;
    border: 1px solid $primary-color;
    transition: all;
    transition-duration: .2s;
    transition-timing-function: linear;

    // Active & filled button styles
    &:active,
    &.active {
        color: #fff;
        background-color: #555;
    }

    &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
    }
}

.Button--link {
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0 .4em;

    /* IOS */
    color: $primary-color;
    background-color: transparent;
    border: none;

    &:hover {
        text-decoration: underline;
    }
}

.Button--back {
    margin-left: -.4em;
}

.Button--big {
    font-size: 1.1em;
}

.Header .Button {
    position: relative;
    top: 7px;
    padding: 6px 12px 7px;
    margin-top: 0;
    font-weight: 400;
}

.Header .Button--link {
    top: 0;
    padding: 0;
    font-size: 16px;
    line-height: 44px;
    color: $primary-color;
    border: 0;
}
