.Gallery__item {
    display: block;
    margin: 3px;
    margin-bottom: 1em;
    float: left;
    text-align: center;
}

.Gallery__item img {
    display:block;
    border: none;
}

.Gallery__page {
    
    padding:0 5px;
    line-height:1.2em;
    height:2em;
}
