.Gallery__item {
  margin: 3px; // This exact size is used in the JavaScript as well
  margin-bottom: 1rem;
  float: left;
  text-align: center;
}

.Gallery__item img {
  display: block;
  border: none;
  background: #000;
}

.Gallery__page {
  line-height: var(--list-item-text-height);
  font-size: var(--list-item-font-size);
}
