
.Header, .BookInfo {
    height: $bar-height;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: $background-color;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    @include hairline(single, #bbb, 0);
}

.Header__title {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 -10px;
    font-size: 17px;
    font-weight: 500;
    line-height: $bar-height;
    left: 0;
    color: $text-color;
    text-align: center;
    white-space: nowrap;
}
