
.Header, .BookInfo {
    height: $bar-height;
    padding: 0 .5rem;
    background-color: $header-background-color;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    border-bottom: 1px solid #888;
}

.Header__Section {
    background-color: $header-background-color;
    padding:0 .5rem;

    position: relative;
    z-index: 5;
    height: calc($bar-height - 1px);
}

.Header__title {
    position: absolute;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0 -10px;
    font-size: 17px;
    font-weight: 500;
    line-height: $bar-height;
    left: 0;
    color: $text-color;
    text-align: center;
    white-space: nowrap;
}

.headroom--scrolled {
    will-change: transform;

    position: fixed;
    z-index: 10;
    right: 0;
    left: 0;
    top: 0;

    &.headroom--pinned {
        transform: translateY(0);
        transition: transform 0.25s ease-in-out;
    }

    &.headroom--unpinned {
        transform: translateY(-100%);    
    }
}
