
.Button .icon {
    font-size: inherit;
}

.Header .icon {
  position: relative;
  z-index: 5;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 24px;
}

.Header .Button .icon {
    top: 3px;
    padding: 0;
}

.Header .Button.pull-left svg {
    margin-right: 2px;
}

.Header .Button svg {
    fill: currentColor;
    display:inline-block;
    height: 1.6em;
    transform: translateY(4px);
    margin-top: -.7em;
}
