.Header .Button.pull-left svg {
    margin-right: 2px;
}

.Header .Button svg {
    fill: currentColor;
    display:inline-block;
    height: 1.6em;
    transform: translateY(4px);
    margin-top: -.7em;
}
