.Header .Button.pull-left svg {
    margin-right: 2px;
}

.Header .Button {
    display: inline-block;
}

.Header .Button svg {
    display: inline-block;
    vertical-align: middle;

    transform: translateY(-2px);
    font-size: 1.5em;
}
