:root {
    --input-background-color: var(--background-color-light);
    --input-border-color: var(--border-color-default);
    --input-border-radius: var(--border-radius);
    --input-color: var(--text-color);
}

.Input {
    border: 1px solid var(--input-border-color);
    background: var(--input-background-color);
    color: var(--input-color);
    display: block;
    line-height: 1.4em;
    width: 100%;
    padding: .4em .6em;
    font-weight: 400;
    border-radius: var(--input-border-radius);
}

.Input--search {
    position: relative;
    top: 7px;
    z-index: var(--zindex-header-search);

    padding-right: 1em;
    margin-top: 1px;
    margin-right: .4em;
    border-width: 0;
}
