//
// Table views
// --------------------------------------------------

.List {
  padding-left: 0;
  margin: 1rem;
  list-style: none; // Remove usual bullet styles from table view

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* see notes below */
  grid-gap: 1rem;
}

// Pad each table view item and add dividers
.List__cell {
  padding: 0;
  text-align: center;

  // If it's a table view of links, make sure the child <a>
  // takes up full table view item tap area (want to avoid selecting child buttons though)
  > a {
    display: block;
    color: inherit;

    &:active {
      color: inherit;
    }
  }

  p {
    margin-bottom: 0;
  }
}

.List__cell__name {
  display: block;
}