/*
 * Table views
 * --------------------------------------------------
 */

.List {
    --list-item-text-height: 1.5em;
    --list-item-font-size: var(--font-size-medium);

    --list-item-small-font-size: var(--font-size-small);

    padding-left: 0;
    margin: 1rem;
    list-style: none; /* Remove usual bullet styles from table view */

    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(200px, 1fr)
    ); /* see notes below */
    grid-gap: 1rem;
}

.List__heading {
    margin: 1rem;
    line-height: 1.5em;
    border-bottom: 1px solid currentcolor;
}

/* Pad each table view item and add dividers */
.List__cell {
    padding: 0;
    text-align: center;
}

.List__cell--allRead {
    opacity: 0.5;
}

/*
 * If it's a table view of links, make sure the child <a>
 * takes up full table view item tap area (want to avoid selecting child buttons though)
 */
.List__cell > a {
    display: block;
    color: inherit;
}

.List__cell > a:active {
    color: inherit;
}

.List__cell > a p {
    margin-bottom: 0;
}

.List__cell__image {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.List__cell__image img {
    display: block;
}

.List__cell--unread .List__cell__image {
    transition: all 0.2s;
}

.List__cell--unread .List__cell__image:after {
    content: "";
    display: block;
    position: absolute;
    top: -16px;
    right: -16px;
    width: 32px;
    height: 32px;
    background: var(--primary-color);
    transform: rotate(45deg);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);

    transition: all 0.2s;
}

.List__cell--unread .List__cell__image:hover:after {
    transform: rotate(45deg) translate3D(-30px, -30px, 0);
}

.List__cell__unreadCount {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;

    background-color: var(--primary-color);
    color: #000;
    padding: 0 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
    line-height: 24px;
    font-size: var(--font-size-small);
    opacity: 1;

    transition: all 0.2s;
}

.List__cell:hover .List__cell__unreadCount {
    opacity: 0;
    transform: translate3D(0, -30px, 0);
}

.List__cell__name {
    line-height: var(--list-item-text-height);
    font-size: var(--list-item-font-size);
}

.List__cell__details {
    line-height: var(--list-item-text-height);
    font-size: var(--list-item-small-font-size);
    color: hsla(0, 0%, 100%, 0.65);
}
