.Loading {
    line-height: 100%;
    width: 100%;
    display: table;
}

.Loading--overlay {
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;

    z-index: var(--zindex-overlay);
    background: rgba(0, 0, 0, 0.5);
}

.Loading--inline {
    height: 10rem;
}

.Loading__container {
    display: table-cell;
    vertical-align: middle;
}

.Loading__block {
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.Loading__spinner,
.Loading__spinner:before,
.Loading__spinner:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: Loading--dots 1.8s infinite ease-in-out;
    animation-fill-mode: both;
}
.Loading__spinner {
    color: #fff;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    transform: translateZ(0);
    animation-delay: -0.16s;
}
.Loading__spinner:before,
.Loading__spinner:after {
    content: "";
    position: absolute;
    top: 0;
}
.Loading__spinner:before {
    left: -3.5em;
    animation-delay: -0.32s;
}
.Loading__spinner:after {
    left: 3.5em;
}
@keyframes Loading--dots {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
