// Base
// --------------------------------------------------

// Use box sizing on all the things!
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    font-family: $font-family-default;
    font-size: $font-size-default;
    line-height: $line-height-default;
    color: #000;
    background-color: #efeff4;
}

// Universal link styling
a {
    color: $primary-color;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0); // Removes the dark touch outlines on links in webkit browsers.

    &:active {
        color: darken($primary-color, 10%);
    }
}

// Utility classes
.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

// Clearfix
// Source: http://nicolasgallagher.com/micro-clearfix-hack/
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
.Content,
.clearfix {
    &:before,
    &:after {
        display: table; // 2
        content: " "; // 1
    }
    &:after {
        clear: both;
    }
}

//
// Typography
// --------------------------------------------------

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 1;
}
h1, .h1 { font-size: 36px; }
h2, .h2 { font-size: 30px; }
h3, .h3 { font-size: 24px; }
h4, .h4 { font-size: 18px; }
h5, .h5 { font-size: 14px; margin-top: 20px; }
h6, .h6 { font-size: 12px; margin-top: 20px; }

// Paragraphs
p {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    color: #777;
}




