//
// Variables
// --------------------------------------------------


// Type
// --------------------------------------------------
$font-family-default: "Helvetica Neue", Helvetica, sans-serif !default;
$font-size-default: 17px !default;
$font-weight: 500 !default;
$line-height-default: 21px !default;


// Colors
// --------------------------------------------------

// Main theme colors
$primary-color:  #2962FF;
$chrome-color:   rgba(247,247,247,.98);

// Action colors
$default-color:  #929292;


// Buttons
// --------------------------------------------------

$button-font-size: 12px !default;

// Header
// --------------------------------------------------

$bar-height: 44px;
